body{
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-size: 14px;
}

h1{
  text-align: center;
  color: #333;
  font-size: 72px;
  font-weight: 500;
}

footer{
  position: fixed;
  bottom: 0;
  height: 110px;
  width: 100%;
  background: #181818;
}

.ExercisePanel{
  position: absolute;
  top: 45%;
  left: 50%;
  padding: 50px;
  border: 1px solid #ccc;
  background: #f2f2f2;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.ExercisePanel__Target{
  display: block;
  padding: 5px;
  font-size: 36px;
  white-space: nowrap;
  font-family: "Lucida Console", Monaco, monospace;
}

.ExercisePanel__Input{
  width: 100%;
  margin-top: 30px;
  padding: 5px;
  color: #bbb;
  background: #181818;
  border: none;
  font-size: 36px;
  font-family: "Lucida Console", Monaco, monospace;
}

.ExercisePanel__Input--Error{
  background: #f1b;
}

.PlayButton{
  font-size: 36px;
  position: absolute;
  top: 45%;
  left: 50%;
  padding: 0.15em 0.35em 0.2em 0.35em;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%);
}

.ScoreList{
  width: 90%;
  margin: 30px auto;
}

.ScoreItem{
  position: fixed;
  bottom: 0;
  text-align: center;
}

.ScoreItem__Plant{
}

.ScoreItem__Char{
  height: 100px;
  font-size: 20px;
  margin-top: 5px;
  color: #bbb;
}
